<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mi Taco Online Shop</title>
    <link rel="stylesheet" href="taco.css">
</head>
<body>
<div class="center">
    <h1>Algo ha ido mal!!!</h1>
    <h2>Nuestros ingenieros ya están en ello!!!</h2>
    <div>
        <br>
        <br>
        <br>
        <h3>Causa del error: </h3>
        <span th:text="${status}"></span>
        <span th:text="${msg}"></span>
        <span th:text="${path}"></span>
    </div>
</div>
<div class="element">
    <a href="/" id="another">Ir a la Home</a>
</div>
</body>
</html>